##### SI EL PROYECTO ES DE SECUENCIACION GENOMICA O SECUENIACION DE PANEL DE EXONES
##### INDICAR UNA BASE DE DATOS DE SNAP
##### DEJAR COMENTADAS EL RESTO DE LAS OPCIONES

#SNAP_REFERENCE_DIR=''
SNAP_REFERENCE_DIR='/labs/usb/anotacion/Homo_sapiens/ENSEMBL/release-83/snap-index/'


##### SI EL PROYECTO ES DE SECUENCIACION DE TRANSCRIPTOMA, INDICAR UNA BASE DE DATOS PARA STAR
##### DEJAR COMENTADAS EL RESTO DE LAS OPCIONES

STAR_REFERENCE_DIR=''
#STAR_REFERENCE_DIR='/remote/reference/labshare.cshl.edu/shares/gingeraslab/www-data/dobin/STAR/STARgenomes/ENSEMBL/homo_sapiens/ENSEMBL.homo_sapiens.release-83/'


##### SI SE REQUIERE HACER UNA INTERSECCION CON REGIONES BLANCO, INDICAR LA RUTA AL BED FILE
#BED=''
BED='/labs/usec/BEDs/truseq-dna-exome-targeted-regions-manifest-v1-2.bed'

##### SI SE HIZO ALINEAMIENTO CON STAR
##### INDICAR RUTA HACIA BED CON LAS POSICIONES RRIBOSOMALES
#RRNA='/labs/usb/anotacion/Homo_sapiens/ENSEMBL/release-83/Homo_sapiens.GRCh38.83.rRNA.bed'
#RRNA='/labs/usb/anotacion/Zea_mays/ENSEMBL/release-41/Zea_mays.B73_RefGen_v4.41.rRNA.bed'
RRNA=''

